* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    /* overflow: hidden; */

}

.navbar----container {
    width: 100%;
    background: #fff;
    filter: drop-shadow(rgba(0, 8, 36, 0.05) 0px 4px 8px);
    position: fixed;
    color: rgb(3, 27, 78);
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-7 {
    margin-bottom: 70px;
}

.feature-text__container {
    width: 600px;
}

.feature-image__container {
    margin-left: 100px;
}

.navbar__links-container {
    display: flex;
    list-style: none;
    padding: 0 9% 0 12.5%;
    height: 70px;
    /* border: 1px solid; */
    align-items: center;
    justify-content: space-between;
}

.header-text__container {
    padding: 150px 10% 80px 12.5%;
    color: rgb(3, 27, 78);

}

.header-text {
    width: 80%;
    word-wrap: break-word;
}

.h1 {
    font-size: 40px;
}

.h2 {
    font-size: 25px;
}

.navbar-child-link {
    padding-right: 20px;
}

.navbar-child-link__container {
    display: flex;
    list-style: none;
}

.main-body {
    min-height: 100vh;
    color: rgb(3, 27, 78);
    /* background: rgb(30, 74, 206); */
}


.grey-body {
    padding: 150px 10% 80px 13%;
    padding-top: 70px;
    background: #F7FAFD;
}

.grid--container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

.grid--container-center {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.grid--container-three {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.white-body {
    padding: 150px 10% 80px 12.5%;
}

.blue-body {
    background: #DFECFF;
    padding: 60px 13% 80px 13%;
}

.text-center {
    text-align: center;
}

.card--container {
    height: 200px;
    /* width: 200px; */
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 20px;
}

.form--container {
    /* height: 200px; */
    /* width: 200px; */
    font-size: 13px;
    width: 656px;
    margin: auto;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    padding: 20px;
}


label {
    display: block;
}

.input--container {
    display: block;
    padding-bottom: 10px;
    /* display: flex;
    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; */
}

.dark-blue-body {
    background: rgb(30, 74, 206);
    /* background: #1E4ACD; */
    padding: 70px 10% 80px 12.5%;
    color: #fff;
}

.btn--container {
    display: flex;
    justify-content: end;
}

.grid--container-four {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
}

.footer-about {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.footer-social-links__container {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.footer-menu {
    grid-column: 3;
    display: flex;
    justify-content: end;
}

.footer-contact-info {
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-width: 300px;
    /* max-width: 100%; */
    /* margin: auto; */
    height: 40px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    border: 0.5px solid grey;
}

.grey-body_two {
    background: #F7FAFD;



}

.do_one {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(100px, auto);
    /* position: absolute; */
    /* border: 1px solid; */
}


.grid--container-twelve {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: minmax(100px, auto);
    /* grid-template-rows: repeat(3, 1fr); */
}



.dark-blue-rectangle--container {
    grid-column: 1;
    border: 1px solid;
    grid-row: 1 / 3;
}

.dark-blue-rectangle {
    height: 300px;
    background: #05194F;
}

.light-blue-square {
    /* border: 2px solid; */
    grid-row: 3 /4;
    grid-column: 2;
    background: #62FFE5;
    /* height: 100px;
    width: 100px; */
}


.feature-text-left {
    /* border: 1px solid; */
    grid-column: 3 / 7;
    grid-row: 1;
    padding-top: 10%;
    /* padding: 20px; */
}

.feature-text-right__container {
    grid-column: 10 / 16;
    /* border: 1px solid; */
    padding: 0% 10% 0 10%;
    grid-row: 1 / 5;

}

.gr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
}

.blue-main-left {
    background: #1E4ACE;
}

.feature-title {
    width: 392px;
    margin: auto auto 40px auto;
}



.feature-child-image-right {
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
}

.pt-0 {
    padding-top: 0;
}

.btn-submit {
    height: 35px;
    width: 100px;
    border-radius: 30px;
    background: #1E4ACE;
    color: #fff;
    border: 1px solid #1E4ACE;
}




.feature-text-right-one {
    grid-row: 1 / 3;
    grid-column: 1/ 2;
    /* border: 1px solid; */
}

.feature-text-right-two {
    grid-row: 1 / 3;
    grid-column: 2;
    /* border: 1px solid; */
}

.feature-text-right-three {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    /* border: 1px solid; */
}

.feature-text-right-four {
    grid-row: 3 / 5;
    grid-column: 2;
    /* border: 1px solid; */
}

/* .feature-text-right-four {
    grid-row: 1 / 3;
    grid-column: 2;
    border: 1px solid;
} */

.blue-main {
    background: #1E4ACE;
    grid-row: 4 / 6;
    grid-column: 3 / 5;
}

.long-rectangle {
    grid-column: 1;
    grid-row: 1 / 4;
    border: 1px solid red;
}

.do_one-text {
    height: 300px;
    grid-column: 2 / 7;
    grid-row: 1;
}


.footer-link {
    font-weight: 700;
}


.footer-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blue-blob {
    grid-column: 3;
    grid-row: 1 / 3;
    height: 100%;
    border: 1px solid;
}

.blob--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/* .footer-links__container {} */


@media screen and (min-device-width: 760px) and (max-device-width: 900px) {
    .form--container {
        width: 100%;
    }

    .input {
        width: 100%;
    }
    .grid--container {
        grid-template-columns: 1fr;
    }

}

@media screen and (min-device-width: 900px) and (max-device-width: 1245px) {
    .dark-blue-body {
        padding: 150px 34px 80px 34px;

    }


    .blue-body {
        padding: 150px 34px 80px 34px;
    }

    .white-body {
        padding: 150px 34px 80px 34px;
    }

    .grey-body {
        padding: 150px 34px 80px 34px;
    }

    .header-text__container {
        padding: 150px 34px 80px 34px;
    }

    .navbar__links-container {
        padding: 0px 34px 0px 34px;
    }


}

.mobile-features {
    display: none;
}

.mb-5 {
    margin-bottom: 50px;
}

@media screen and (min-width: 620px) and (max-width: 1020px) {
    .header-image {
        display: none;
    }

    .header-text {
        grid-column: 1 / 3;
    }

    .feature-text-right__container {
        grid-column: 8 / 16;
    }

}



@media screen and (min-width: 320px) and (max-width: 620px) {
    .grid--container {
        grid-template-columns: 1fr;
    }

    .header-image {
        display: none;
    }

    .mobile-features {
        display: block;
    }

    .feature-text-right-one {
        grid-row: 1 / 2;
        grid-column: 1/ 2;
        /* border: 1px solid; */
    }

    .feature-text-right-two {
        grid-row: 1 / 2;
        grid-column: 2;
        /* border: 1px solid; */
    }

    .feature-text-right-three {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        /* border: 1px solid; */
    }

    .feature-text-right-four {
        grid-row: 2 / 3;
        grid-column: 2;
        /* border: 1px solid; */
    }



    .grid--container-twelve {
        display: none;
    }

    .grid--container-center {
        grid-template-columns: 1fr;
    }

    .grid--container-three {
        grid-template-columns: 1fr;
    }

    .header-image {
        display: none;
    }

    .grey-body {
        padding: 30px 15px;
    }

    .blue-body {
        padding: 30px 15px;
    }

    .dark-blue-body {
        padding: 30px 15px;
    }

    .white-body {
        padding: 30px 15px;
    }

    .header-text__container {
        padding: 140px 0;
    }

    .navbar__links-container {
        padding: 0;
    }

    /* .main-body {
    padding: 0 10px;
} */



    .header--container {
        width: 100%;
    }

    .header-text {
        width: 100%;
    }

    .feature-child-image-right {
        justify-content: center;
    }

    .feature-child-text {
        width: 70%;
        margin: auto;
    }

    .dashboard-image-feature {
        display: flex;
        justify-content: center;
    }

    .form--container {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .feature-image__container {
        margin-left: 0%;
    }

    .feature-text__container {
        width: 100%;
    }

    /* img {
        width: 100%;
    } */
}